@model ProjetFinal.Models.Fonction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fonction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreLignesDeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreLignesDeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DernierUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DernierUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBibliothequeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBibliothequeNavigation.IdBibliotheque)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFonction">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
